/* filepath: m:\Programming\Projects\Sard\sard_dashboard\src\App.css */
.app-container {
  display: flex;
  min-height: 100vh;
  height: 100%;
}

.main-content {
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
  padding: 20px;
  height: 100%;
}

.main-content.no-padding {
  padding: 0;
}